RewriteEngine On

# REDIRECT REQUESTS
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# REDIRECT FAVICON
RewriteCond %{THE_REQUEST} !^/favicon\.ico [NC]
RewriteCond %{THE_REQUEST} favicon\.ico [NC]
RewriteRule ^(.+)$ assets/img/favicon.ico [R=301,L]

# REDIRECT ASSETS
#RewriteCond %{THE_REQUEST} !^/bootstrap\.min\.css [NC]
#RewriteCond %{THE_REQUEST} bootstrap\.min\.css [NC]
#RewriteRule ^(.+)$ assets/dist/css/bootstrap.min.css [L]

#RewriteCond %{THE_REQUEST} !^/bootstrap\.min\.js [NC]
#RewriteCond %{THE_REQUEST} bootstrap\.min\.js [NC]
#RewriteRule ^(.+)$ assets/dist/js/bootstrap.min.js [L]

#RewriteCond $1 !\.(js|ico|gif|jpg|png|css|html|swf|mp3|wav|txt)$
#RewriteCond %{THE_REQUEST} !^bg\.jpg [NC]
#RewriteCond %{THE_REQUEST} bg\.jpg [NC]
#RewriteRule ^(.+)$ assets/img/bg.jpg [L]