<config>
    <route>
        <dir>admin/controller</dir>
        <uri>admin</uri>
    </route>
    <layout>
        <default>
            <block type="admin/template" template="app/admin/view/template/test_page.phtml"></block>
        </default>
    </layout>
    <database>
        <host>localhost</host>
        <user>root</user>
        <key>M@ster87!</key>
        <name>admin</name>
    </database>
</config>