<config>
    <route>
        <dir>admin/controller</dir>
        <uri>admin</uri>
    </route>
    <layout>
        <admin_index_index>
            <block type="core/base" name="root" template="test_page.phtml">
                <block type="" name="content" template="content.phtml"></block>
            </block>
        </admin_index_index>
    </layout>
    <database>
        <host>localhost</host>
        <user>root</user>
        <key>M@ster87!</key>
        <name>admin</name>
    </database>
</config>