<?xml version="1.0" encoding="UTF-8"?>
<config>
    <route>
        <dir>core/controller</dir>
        <uri>core</uri>
    </route>
    <layout>
        <default>
            <block type="core/page" name="root" template="core_test_page.phtml">
                <block type="core/header" name="header" template="core_test_header.phtml"></block>
                <block type="core/content" name="content" template="core_test_content.phtml">
                    <block type="core/form" name="form" template="core_test_form.phtml"></block>
                </block>
                <block type="core/footer" name="footer" template="core_test_footer.phtml"></block>
            </block>
        </default>
    </layout>
    <events>
        <uri_not_found>
            <class>Core_Controller_Event_Observer</class>
            <method>redirectTo404</method>
        </uri_not_found>
    </events>
</config>