<config>
    <route>
        <dir>todo/controller</dir>
        <uri>todo</uri>
    </route>
    <template>
        <name>todo</name>
    </template>
    <actionassoc>
        <action>
            runme
        </action>
        <template>
            myrunner
        </template>
    </actionassoc>
    <database>
        <host>localhost</host>
        <user>root</user>
        <key>M@ster87!</key>
        <name>todo</name>
    </database>
</config>